.todos {
  margin: 0 -10px;
}

.todo {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.checkmark {
  position: absolute;
  bottom: 0;
  right: 0;
}

.checkmark:hover {
  color: green;
}

.closemark {
  position: absolute;
  top: 0;
  right: 0;
}

.closemark:hover {
  color: red;
}
