.todos {
  margin: 0 -10px;
}

.todo {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-title {
  padding-bottom: 0.7rem;
}

.createdAt {
  font-size: 70%;
}

.checkmark {
  position: absolute;
  bottom: 0;
  right: 0;
  color: gray;
}

.checkmark:hover {
  color: green;
}

.closemark {
  position: absolute;
  top: 0;
  right: 0;
  color: gray;
}

.closemark:hover {
  color: #525252;
}

.add-tab {
  text-align: center;
  padding: 2.8rem;
  color: gray;
  border-style: dashed;
}

.plus-icon {
  margin: auto;
}

.add-tab:hover {
  color: #525252;
  text-decoration: none;
}
