.todos {
  margin: 0 -10px;
}

.todo {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.checkmark {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.checkmark:hover {
  color: green;
}
